<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>detail</title>  
    <link rel="stylesheet" type="text/css" href="detail.css"/>  
</head>  
<body bgcolor="#DEE2EC">  
    <div class="submena clearfix">
		<a href=" ">all</a>
		<span>></span>
		<a href=" ">mac</a>
		<span>></span>
		<a href=" ">macbook air</a>
	</div>
	<div class="center_con clearfix">
		<div class="main_menu fl"><img src="https://m.media-amazon.com/images/I/71seiDsvWqL._AC_SX466_.jpg"></div>
		<div class="goods_detail_list fr">
			<h3>Apple MacBook Air</h3>
			<p>Apple MacBook Air with Apple M1 Chip (13-inch, 8GB RAM, 256GB SSD Storage) - Silver (Latest Model)</p>
            <p>
                <span>Seller:  </span><span>Robert</span><br />
                <span>Credit:  </span><span>95</span>
            </p>
			<div class="prize_bar">
				<div class="show_prize fl">$<em>1349</em></div>
			</div>
			<div class="operate_btn">
				<a href="communicate.html" class="buy_btn">buy now</a>
			</div>
		</div>
	</div>
</body>  
</html>  