<!DOCTYPE html>  
<html lang="en">  
<head>  
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />	
    <title>Login</title>  
    <link rel="stylesheet" type="text/css" href="Login.css"/>  
	<script src="https://unpkg.com/vue@next"></script>
</head>  
<body background="../assets/star.jpeg">
	<div id="verify">
    <div id="login">  
        <h1>Login</h1>  
        <input id="Username" type="text"  placeholder="Username" name="u"></input>  
        <input id="Password" type="password"  placeholder="Password" name="p"></input>  
		<button class="button" v-on:click="login" >login</button>
    </div>
	<a href="register.html" >register</a>
	</div>
</body>
 <script>
	const verify = {
		data() {
			return {
				counter: 0
			}
		},
	  methods: {
		login() {
			var Username = window.localStorage.getItem("Username");
			var Password = window.localStorage.getItem("Password");
			//if(!Username || !Password){
			//	alert("userName do not exist! please register");
            //    return
			//}
			var ImputUsername = document.getElementById("Username").value;
			var ImputPassword = document.getElementById("Password").value;
			    if(ImputUsername !== Username){
                    alert("userName do not exist! please register");
                    return;
                }
                if (ImputPassword !== Password){
                    alert("Wrong password!");
                    return;
                }
            window.location.href = "search.html";
			return false;
		}
	}
}
Vue.createApp(verify).mount('#verify')
</script>
<style type="text/css" media="screen">
button.button { background:url(rss-feed-img.png) repeat 0px 0px; width: 123px; height: 44px; display: block; }
button.button span { display: none; }
button.button:hover { background: url(rss-feed-img.png) repeat 0px -44px; }
</style>
</html>  